.single-page__img{
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
	margin-top: 20px;
}
.single-page__entry-footer{}
.single-page__entry-footer{
	margin-top: 50px;
}